{% extends 'menu.html' %}
{% block title %}Mis Cursos{% endblock %}


{% block content %}
<h1>Mis cursos</h1>
    <ul>
    {% for curso in cursos %}
        <li>{{ curso.nombre }}</li>
    {% endfor %}
    </ul>
{% endblock %}