{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
     <title>{% block title %}Niñas Pro Proyecto{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        {% compress css %}
            <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}

    </head>
    <body >
        <main>
            {% block menu %}
            {% endblock %}
            {% block content %}
            {% endblock %}

        </main>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %}
    {% endblock %}
</html>
