{% extends 'base.html' %}
{% load static %}

{% block menu %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Niñas Pro</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% for menu_item in user.get_menu_items %}
              <li><a href={{ menu_item.1 }}>{{ menu_item.0 }}</a></li>
          {% endfor %}
        <li><a href="{% url 'usuarios:logout' %}">Salir</a></li>
      </ul>
    </div>
  </nav>

    <ul class="sidenav" id="mobile-demo">
       {% for menu_item in user.get_menu_items %}
              <li><a href={{ menu_item.1 }}>{{ menu_item.0 }}</a></li>
          {% endfor %}
        <li><a href="{% url 'usuarios:logout' %}">Salir</a></li>

    </ul>


{% endblock %}
{% block scripts %}
    <script src={% static 'scripts.js' %}></script>

{% endblock %}